# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
./Fine-tuning-Resnet50/root
# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# -------------------------
# Machine Learning / PyTorch
# -------------------------
# Model checkpoints
*.pth
*.pt
checkpoints/
saved_models/

# Dataset cache / large files
data/cache/
root/
*.zip
*.tar
*.h5
*.npy
*.npz

# -------------------------
# Logs and outputs
# -------------------------
*.log
logs/
runs/       
tmp/
temp/


# -------------------------
# OS / IDE junk
# -------------------------
# macOS
.DS_Store

# Windows
Thumbs.db

# VSCode / PyCharm
.vscode/
.idea/
